@import "tailwindcss" source("./src");
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "dark";
    default: true;
    prefersdark: true;
    color-scheme: dark;
}

@plugin "daisyui/theme" {
    name: "light";
    default: false;
    prefersdark: false;
    color-scheme: light;
}

@utility h1 {
    @apply text-3xl font-bold mb-6;
}

@utility h2 {
    @apply text-2xl font-bold mb-5;
}

@utility h3 {
    @apply text-xl font-bold mb-4;
}

@utility job-titles-carousel {
    @apply inline-block overflow-hidden align-bottom;

    transition: max-width 0.5s;

    div {
        @apply overflow-hidden w-max;
    }
}
